:root {
    --primary-color: #e76f51;
    --secondary-color: #2a9d8f;
    --light-color: #f8f9fa;
    --dark-color: #6c757d;
    --max-width:1100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
    list-style-type: none;
}
li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    margin: .7rem;
    line-height: 1.3;
}
p{
    margin: .5rem 0;
}
/* utils */
.container{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}
.btn{
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: white;
    padding: .4rem 1.6rem;
}
.btn-light{background-color: var(--light-color);}
.btn-dark{background-color: var(--dark-color);}
.btn-primary{background-color: var(--primary-color);}

.btn:hover{opacity: 0.9;}

.btn-block{
    display: block;
    width: 100%;
    text-align: center;
}

.bg-primary{background-color: var(--primary-color); color: white;}
.bg-light{background-color: var(--light-color); color: var(--dark-color);}
.bg-dark{background-color: var(--dark-color); color: white;}

.p-1{padding: 0.3rem;}
.p-2{padding: 0.5rem;}
.p-3{padding: 0.7rem;}
.p-4{padding: 1rem;}

.m-1{padding: 0.3rem;}
.m-2{padding: 0.5rem;}
.m-3{padding: 0.7rem;}
.m-4{padding: 1rem;}

.card{
    background-color: white;
    padding: 1rem;
}
.card-primary{
    background-color: var(--primary-color);
    padding: 1rem;
}
.navbar{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(1,1fr);
    background-color: rgb(146, 189, 226);   
    position: fixed;
    width: 100%;
}
.logo{
    width: 50px;
    height: 50px;
    justify-content: right;
    margin-left: 180px;
    margin-top: 5px;
}
.home{
    background-color: #e76f51;
    border: 2px solid white;
    border-radius: 10px;
}

.home:hover{
    background-color: white;
    border: 2px solid #e76f51;
}
.fab{
    opacity: 0.6;
}
.header{
    margin-bottom: 0%;
    background-image: url("../img/rowing.jpeg");
    height: 600px;
    
    background-size: cover;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    padding-left: 100px;
    padding-top: 60px;
    color: white;
    align-content: top;
    
}
.header img{
    height: 600px;
    background-size: cover;
    opacity: 0.8;
}
button{
    background-color: #e76f51;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
   
}
button:hover{
    background-color: white;
    color: #e76f51;
}
.başlık{
    padding: 10px;
    margin-top: 10px;
}
.last-news{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    padding: 20px;
    height: 750px;
}
.news-1{
    background-color: beige;
    padding: 10px;
}
.contact{
    padding-top: 150px;
    margin-top: 60px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    display: inline-flex;
    padding: 10px;
    background-color: #6c757d;
}
.contact-logo{
   display: grid;
    grid-template-columns: 60%;
    width: 30%;
    padding-left: 60px;
}
.contact-logo img{
    width: 50%;
}
.join{
    display: grid;
    padding-left: 10px;
    width: 25%;
}
.join input{
    margin-bottom: 10px;
}
.linkers{
    display: grid;
    padding-left: 50px;
}
.linkers hr{
    color: white;
    border: 2px solid white;
}
.follow{
   
    padding-left: 50px;
}
.makale{
    background-color: beige;
    width: 50%;
    margin-left: 110px;
    padding: 15px;
    height: 1000px;
    display: grid;
    margin-top: 85px;
}
.userfoto{
    background-color: aliceblue;
    width: 100%;
}
.userfoto ,button{
    display: inline-flex;
    justify-content: space-between;
    align-content:stretch;
    margin-left: -5px;
    height: 30px;
    margin-right: 25px;
}
.kapsams{
    display: inline-flex;
    grid-template-columns: auto;
    
    
}
.joinus{
    display: inline-block;
    background-color: beige;
    height: 230px;
    width: 30%;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
}
.joinus p{
    padding-left: 5px;
}
.joinus button{
    display: flex;
   background-color: bisque;
    margin-left: 10px;
    width: 95%;
    border-radius: 10px;
    justify-content: center;
}
.kategori{
    background-color: white;
    margin-top: 60px;
    height: 200px;
}
.parçalı{
    display: block;
}



